* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.product-filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.filter-item {
  margin-left: 10px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table,
tr,
td,
th {
  border: 1px solid grey;
}

th,
td {
  padding: 5px;
}

.hidden {
    display: none;
}